*.launch
target
*.iml
edu.umd.cs.findbugs.core.prefs
org.eclipse.core.resources.prefs
**/META-INF/**
**/.settings/*wst*
**/.settings/.jsdtscope
**/node
**/.npmrc
gib.log
.attach_pid*
.idea
.settings
.classpath
.project
